<% if(reissue_msg != ''){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= reissue_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if(penalty_msg != ''){ %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= penalty_msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
<% } %>

<% if(typeof noissued != 'undefined') { %>
  <%noissued.forEach(function(error){ %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= error.msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
  <% }); %>
<% } %>