<% if(typeof studentmsgs != 'undefined') { %>
    <%studentmsgs.forEach(function(error){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }); %>
<% } %>

<% if(typeof incorrect_msgs != 'undefined') { %>
    <%incorrect_msgs.forEach(function(error){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }); %>
<% } %>

<% if(typeof no_books != 'undefined') { %>
    <%no_books.forEach(function(error){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }); %>
<% } %>


<% if(typeof nostudents != 'undefined') { %>
    <%nostudents.forEach(function(error){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }); %>
<% } %>



