<footer class="bg-dark" style="height: 73px; margin-top: 0%;">
    <div class="container">
        <div class="row">
            <div class="col-4 d-flex align-items-center">
                <p class="copy" style="color: antiquewhite;">©2033, All Rights Reserved</p>
            </div>
            <div style="margin-right: 10px; margin-top: 20px;">
                <p class="copy" style="color: antiquewhite;">Follow us on: </p>
            </div>
            <a class="navbar-brand" href="https://www.instagram.com/_punitsingh_/"><img style="width: 30px; height: 30px; margin-top: 15px;" src="/img/instagram.png" alt="instagram-logo"></a>
            <a class="navbar-brand" href="https://www.facebook.com/profile.php?id=100009400935497"><img style="width: 30px; height: 30px; margin-top: 15px;" src="/img/icons8-facebook-48.png" alt="facebook-logo"></a>
            <a class="navbar-brand" href="https://twitter.com/HoraPuneet"><img style="width: 30px; height: 30px; margin-top: 15px;" src="/img/icons8-twitter-48.png" alt="twitter-logo"></a>
            <div style="margin-left: 105px; margin-top: 10px;">
                <p class="copy" style="color: antiquewhite;">
                    Contact Us: 
                    <br>
                    e-mail: punit.singh.hora@gmail.com, &nbsp
                    Phone: 6264536050
                </p>
            </div>
        </div>
    </div>
</footer>